<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - Geekwolf -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <span class="credit"><a href="http://www.linuxhonker.com">服务器架构研究室 </a></span>&nbsp;&nbsp;&nbsp;&nbsp;
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5829295'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/stat.php%3Fid%3D5829295' type='text/javascript'%3E%3C/script%3E"));
   </script>



</p>
